<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="header-content">
        <div>
          <h2 class="card-title">Lista de Marcas</h2>
          <p class="card-description">Gerencie as marcas das guitarras disponíveis</p>
        </div>
        <button class="btn btn-primary" (click)="navigateToCreate()">
          <mat-icon>add</mat-icon>
          <i class="bi bi-plus-circle"></i> Adicionar uma nova marca
        </button>
      </div>
    </div>
    <div class="card-search">
      <input type="text" class="search-input" placeholder="Pesquise por uma marca" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange($event)">
    </div>
    <div class="card-body">
      <!-- Estado de carregamento -->
      <div *ngIf="loading" class="loading-container">
        <div class="spinner-border" role="status">
          <span class="visually-hidden"></span>
        </div>
        <p class="loading-text">Carregando...</p>
      </div>

      <!-- Mensagem quando não há armações -->
      <div *ngIf="!loading && marcas.length === 0" class="empty-message">
        <i class="bi bi-info-circle"></i>
        <span>Nenhuma marca encontrada no catálogo.</span>
      </div>

      <!-- Tabela de armações -->
      <div *ngIf="!loading && marcas.length > 0" class="table-container">
        <table class="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Código Hexadecimal</th>
              <th class="actions-column">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let marca of marcas">
              <td>{{ marca.id  }}</td>
              <td>{{ marca.nome }}</td>
              <td>
                {{ marca.cnpj | slice:0:2 }}.{{ marca.cnpj | slice:2:5 }}.{{ marca.cnpj | slice:5:8 }}/{{ marca.cnpj | slice:8:12 }}-{{ marca.cnpj | slice:12:14 }}
              </td>
              <td class="actions-column">
                <div class="action-buttons">
                  <button mat-button class="btn btn-edit" (click)="navigateToEdit(marca.id!)">
                    <mat-icon>edit</mat-icon>
                    <span class="sr-only">Editar</span>
                  </button>
                  <button mat-button class="btn btn-delete" (click)="deleteMarca(marca.id!)">
                    <mat-icon>delete</mat-icon>
                    <span class="sr-only">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator class="paginador" 
    [pageSizeOptions]="[5, 10, 15, 20]"
    [pageSize]="pageSize"
    [pageIndex]="page"
    [length]="totalMarcas"
    (page)="paginar($event)">
  </mat-paginator>
</div>
