<div class="container">
  <div class="form-header">
    <h2 class="form-title">
      {{ tarrachaId ? 'Editar Tarracha' : 'Novo Tarracha' }}
    </h2>
  </div>

  <!-- Loading -->
  <div *ngIf="loading" class="text-center mt-4 loading-indicator">
    <div class="spinner-border" role="status">
      <span class="visually-hidden"></span> 
    </div>
  </div>

  <!-- Form -->
  <form [formGroup]="tarrachaForm" (ngSubmit)="onSubmit()" class="form-grid" *ngIf="!loading">

    <!-- MARCA -->
    <div class="form-group">
      <label class="form-label" for="marca">Marca</label>
      <input class="form-input" type="text" id="marca" formControlName="marca" placeholder="Marca do tarracha">

      <div class="error-message" *ngIf="tarrachaForm.get('marca')?.touched && tarrachaForm.get('marca')?.errors">
        <span *ngIf="tarrachaForm.get('marca')?.hasError('required')">Marca é obrigatória.</span>
        <span *ngIf="tarrachaForm.get('marca')?.hasError('minlength')">Mínimo de 2 caracteres.</span>
        <span *ngIf="tarrachaForm.get('marca')?.hasError('maxlength')">Máximo de 50 caracteres.</span>
      </div>
    </div>

    <!-- MATERIAL -->
    <div class="form-group">
      <label class="form-label" for="mateiral">Material</label>
      <input class="form-input" type="text" id="mateiral" formControlName="mateiral" placeholder="Marca do tarracha">

      <div class="error-message" *ngIf="tarrachaForm.get('mateiral')?.touched && tarrachaForm.get('mateiral')?.errors">
        <span *ngIf="tarrachaForm.get('mateiral')?.hasError('required')">Marca é obrigatória.</span>
        <span *ngIf="tarrachaForm.get('mateiral')?.hasError('minlength')">Mínimo de 2 caracteres.</span>
        <span *ngIf="tarrachaForm.get('mateiral')?.hasError('maxlength')">Máximo de 50 caracteres.</span>
      </div>
    </div>

    <!-- MODELO -->
    <div class="form-group">
      <label class="form-label" for="modelo">Modelo</label>
      <input class="form-input" type="text" id="modelo" formControlName="modelo" placeholder="Modelo do tarracha">

      <div class="error-message" *ngIf="tarrachaForm.get('modelo')?.touched && tarrachaForm.get('modelo')?.errors">
        <span *ngIf="tarrachaForm.get('modelo')?.hasError('required')">Modelo é obrigatório.</span>
        <span *ngIf="tarrachaForm.get('modelo')?.hasError('minlength')">Mínimo de 2 caracteres.</span>
        <span *ngIf="tarrachaForm.get('modelo')?.hasError('maxlength')">Máximo de 50 caracteres.</span>
      </div>
    </div>

    <!-- Botões -->
    <div class="button-group">
      <button type="submit" class="btn btn-primary" [disabled]="tarrachaForm.invalid || loading">
        {{ loading ? 'Salvando...' : (tarrachaId ? 'Salvar Alterações' : 'Salvar') }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </form>
</div> 